<div style='height:350px'>

    <div class="error-message" ng-if="model.errorMessage">
        <span>{{model.errorMessage}}</span>
    </div>
    <div class="alert-wrapper" ng-cloak>
        <div class="alert {{alerts.current.type}}" ng-if="alerts.current" ng-click="dismissAlert()">
            <span>{{alerts.current.message}}</span>
            <span class="badge" ng-show="alerts.queue.length">{{alerts.queue.length + 1}}</span>
        </div>
    </div>

    <div class="popup-wrapper clearfix">
        <div class="model-preview-wrapper">
            <div id="bpmnModelMain">
                <div class="Oryx_button"
                     id="delete-button"
                     title="{{'BUTTON.ACTION.DELETE.TOOLTIP' | translate}}"
                     ng-click="deleteShape()"
                     style="display:none">
                    <img src="editor-app/images/delete.png"/>
                </div>
            </div>
        </div>
    </div>

</div>
{{appResourceRoot}}
<div ng-include="appResourceRoot + 'views/processes-rmd.html'" ></div>
