<div class="main-content1" ng-controller="RmdProcessDetailController" ng-model="id"  style="height: 320px">

<!--
    <div class="help-container" ng-if="!model.processInstance && !model.loading && state.noProcesses && (newProcessInstance == null || newProcessInstance == undefined)" auto-height ng-cloak>
        <div>
            <div class="help-text wide">
                <div class="description">
                    {{'PROCESS.MESSAGE.NO-INSTANCES-HELP' | translate}}
                </div>
                <div class="help-entry toggle-create-task" ng-class="{'active': newProcessInstance.inline }" ng-click="createProcessInstance()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span translate="PROCESS.MESSAGE.NO-INSTANCES-HELP-START"></span>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- 启动流程实例的header -->
<!--        <div class="header" ng-if="newProcessInstance != null && newProcessInstance != undefined && newProcessInstance.processDefinition">-->
<!--            <h2>-->
<!--                <edit-in-place value="newProcessInstance.name"></edit-in-place>-->
<!--            </h2>-->
<!--        </div>-->

        <div class="content clearfix" auto-height offset="6" ng-if="newProcessInstance != null && newProcessInstance != undefined && newProcessInstance.processDefinition && !newProcessInstance.processDefinition.hasStartForm">

                    <div class="pull-right">
                        <div>
                            <button class="btn btn-default" style="font-size:13px; margin: 10px 15px 0 0"
                                    id="rmdDiagramTrigger"
                                    ng-click="showProcessDiagram()">{{'PROCESS.ACTION.SHOW-DIAGRAM' | translate}}
                            </button>
                        </div>
                        <!-- 启动流程实例的button -->

                        <div>
                            <button class="btn btn-default" style="font-size:13px; margin: 10px 15px 0 0"
                                    ng-disabled="newProcessInstance.loading"
                                    ng-click="startProcessInstanceWithoutFormById()">{{'SERVICE.ACTION.EXECUTION-SERVICE' | translate}}
                            </button>
                        </div>
                        <!-- 合并流程实例的button -->
                        <div>
                            <button class="btn btn-default" style="font-size:13px; margin: 10px 15px 0 0"
                                    ng-click="selectProcessDefinition2('SimpleImplus:15:74ab814b-dc81-11ea-bd33-002b67655329',newProcessInstance.id)">{{'SERVICE.ACTION.MERGE-PROCESS' | translate}}
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-default" style="font-size:13px; margin: 10px 15px 0 0"

                                    ng-click="selectProcessDefinition3(newProcessInstance.id)">{{'SERVICE.ACTION.MERGE-PROCESSINSTANCE' | translate}}
                            </button>

                        </div>
                    </div>
                    <!-- 启动流程实例的内容 -->
                    <div class="split-left">
                        <div class="section pack" style="margin:0 0 0 0; padding: 10px 0 0 0">
                            <h6 translate="SERVICE.FIELD.NAME" style="margin: 0 0 0 0"></h6>
                            <div style="font-size: 14px">
                                <div user-picture="task.assignee"></div>
                                {{newProcessInstance.name}}
                            </div>
<!--                            <h3 translate="PROCESS.FIELD.CATEGORY"></h3>-->
<!--                            <div>-->
<!--                                <div user-picture="task.assignee"></div>-->
<!--                                {{newProcessInstance.category}}-->
<!--                            </div>-->
                        </div>
                        <div class="section pack" style="margin:0 0 0 0; padding: 10px 0 0 0">
                            <h6 translate="SERVICE.FIELD.CATEGORY" style="margin: 0 0 0 0"></h6>
                            <div style="font-size: 14px">
                                <div user-picture="task.assignee"></div>
                                {{newProcessInstance.category}}
                            </div>
                        </div>
                        <div class="section pack" style="margin:0 0 0 0; padding: 10px 0 0 0">
                            <h6 translate="SERVICE.FIELD.VERSION" style="margin: 0 0 0 0"></h6>
                            <div style="font-size: 14px">
                                <div user-picture="task.assignee"></div>
                                {{newProcessInstance.version}}
                            </div>
                        </div>
                        <div class="section pack" style="margin:0 0 0 0; padding: 10px 0 0 0">
                            <h6 translate="SERVICE.FIELD.DESCRIPTION" style="margin: 0 0 0 0"></h6>
                            <div style="font-size: 14px">
                                <div user-picture="task.assignee"></div>
                                {{newProcessInstance.description && newProcessInstance.description || ('PROCESS.MESSAGE.NO-DESCRIPTION' | translate)}}
                            </div>
                        </div>

                    </div>
                </div>

    <!-- 流程实例的header -->
        <div class="header" ng-if="!newProcessInstance && model.processInstance">
                    <!-- 根据流程实例状态决定取消/删除流程 按钮 -->
                    <div class="btn-group pull-right" ng-show="model.processInstance.startedBy.id == ('' + account.id)">
                        <button ng-if="!model.processInstance.ended" class="btn" ng-click="cancelProcess()" translate="PROCESS.ACTION.CANCEL"></button>
                        <button ng-if="model.processInstance.ended" class="btn" ng-click="deleteProcess()" translate="PROCESS.ACTION.DELETE"></button>
                    </div>
                    <!-- 显示流程图的button -->
                    <div class="btn-group pull-right" ng-show="model.processInstance.graphicalNotationDefined">
                        <button class="btn" id="processDiagramTrigger" translate="PROCESS.ACTION.SHOW-DIAGRAM" ng-click="showDiagram()"></button>
                    </div>

                    <h2> {{model.processInstance.name && model.processInstance.name ||
                        model.processInstance.processDefinitionName}}</h2>

                    <div class="detail">
                        <span class="label" ng-if="model.processInstance.startedBy">{{'PROCESS.FIELD.STARTED-BY' | translate}}: </span>
                        <span user-name="model.processInstance.startedBy" ng-if="model.processInstance.startedBy"></span>
                        <span class="label">{{'PROCESS.FIELD.STARTED' | translate}}: </span>
                        <span title="{{model.processInstance.started | dateformat}}">{{model.processInstance.started | dateformat:'fromNow'}}</span>
                        <span class="label" ng-show="model.processInstance.ended">{{'PROCESS.FIELD.ENDED' | translate}}: </span>
                        <span ng-show="model.processInstance.ended" title="{{model.processInstance.ended | dateformat}}">{{model.processInstance.ended | dateformat:'fromNow'}}</span>
                    </div>
                </div>
<!-- 流程实例的内容 -->
        <div class="content clearfix split" auto-height offset="6" ng-if="!newProcessInstance && model.processInstance">
                    <!-- 添加评论（不需要）
                    <div class="split-right">

                        <div class="section">

                            <h3 close-on-select="false" ng-click="toggleCreateComment()" title="{{'PROCESS.ACTION.ADD-COMMENT' | translate}}">{{'PROCESS.SECTION.COMMENTS' | translate}}
                                <span class="action">
                                    <a>+</a>
                                </span>
                            </h3>

                            <div class="form-group clearfix box"
                                 ng-show="model.addComment"
                                 auto-focus="model.addComment">
                                <textarea class="form-control focusable" rows="2" ng-disabled="model.commentLoading"
                                          ng-model="model.newComment" id="add-comment-inline"
                                          placeholder="{{'PROCESS.MESSAGE.NEW-COMMENT-PLACEHOLDER' | translate}}">
                                </textarea>

                                <div class="pull-right">
                                    <button tabindex="-1" class="btn btn-xs" translate="GENERAL.ACTION.CANCEL"
                                            ng-click="toggleCreateComment()" ng-disabled="model.commentLoading"></button>
                                    <button class="btn btn-xs" translate="PROCESS.ACTION.ADD-COMMENT-CONFIRM"
                                            ng-disabled="!model.newComment || model.commentLoading || model.newComment.length > 4000"
                                            ng-click="confirmNewComment()"></button>
                                </div>
                            </div>
                            <ul class="simple-list comments selectable" ng-show="model.comments.data.length">
                                <li ng-repeat="comment in model.comments.data">
                                    <div class="title">
                                        <div user-picture="comment.createdBy"></div>
                                        {{'PROCESS.MESSAGE.COMMENT-HEADER' | translate:comment}}
                                    </div>
                                    <div class="message">{{comment.message}}</div>
                                </li>
                            </ul>

                        </div>

                    </div>-->

                    <div class="split-left">
                        <div class="section pack">
                            <h3 translate="PROCESS.SECTION.ACTIVE-TASKS"></h3>
                            <ul class="simple-list checklist">
                                <li ng-repeat="task in model.processTasks" ng-click="openTask(task)">
                                    <div class="clearfix">
                                        <div class="pull-right">
                                            <span class="badge" ng-if="task.dueDate">
                                                {{'TASK.MESSAGE.DUE-ON' | translate}} {{(task.dueDate | dateformat:'fromNow')}}
                                            </span>
                                            <span class="badge" ng-if="!task.dueDate">
                                                {{'TASK.MESSAGE.CREATED-ON' | translate}} {{(task.created | dateformat:'fromNow')}}
                                            </span>
                                        </div>
                                        <div>
                                            <div user-picture="task.assignee"></div>
                                            {{task.name && task.name || ('TASK.MESSAGE.NO-NAME' | translate)}}
                                        </div>
                                        <div class="subtle">
                                            <span ng-if="task.assignee.id">
                                                {{'TASK.MESSAGE.ASSIGNEE' | translate}} {{task.assignee.firstName && task.assignee.firstName != 'null' ? task.assignee.firstName : ''}} {{task.assignee.lastName && task.assignee.lastName != 'null' ? task.assignee.lastName : ''}}
                                            </span>
                                            <span ng-if="!task.assignee.id" translate="TASK.MESSAGE.NO-ASSIGNEE">
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="nothing-to-see" ng-show="!model.processTasks || model.processTasks.length == 0">
                                <span translate="PROCESS.MESSAGE.NO-TASKS"></span>
                            </div>
                        </div>

                        <div class="section pack" ng-show="model.processInstance.startFormDefined">
                            <h3 translate="PROCESS.SECTION.START-FORM" id="startForm"></h3>
                            <ul class="simple-list checklist">
                                <li ng-click="openStartForm()" class="complete">
                                    <div class="clearfix">
                                        <div>
                                            <div user-picture="model.processInstance.startedBy"></div>
                                            <span translate="PROCESS.SECTION.START-FORM"></span>
                                        </div>
                                        <div class="subtle">
                                            <span ng-if="model.processInstance.startedBy.id">
                                                {{'TASK.MESSAGE.COMPLETED-BY' | translate}} {{model.processInstance.startedBy.firstName && model.processInstance.startedBy.firstName != 'null' ? model.processInstance.startedBy.firstName : ''}} {{model.processInstance.startedBy.lastName && model.processInstance.startedBy.lastName != 'null' ? model.processInstance.startedBy.lastName : ''}}
                                                {{model.processInstance.started | dateformat:'fromNow'}}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!---->
                        <div class="section pack">
                            <h3 translate="PROCESS.SECTION.COMPLETED-TASKS" id="completedTasks"></h3>
                            <ul class="simple-list checklist">
                                <li ng-repeat="task in model.completedProcessTasks" ng-click="openTask(task)" class="complete">
                                    <div class="clearfix">
                                        <div class="pull-right">
                                            <span class="badge">
                                                {{'TASK.MESSAGE.DURATION' | translate:task}}
                                            </span>
                                        </div>
                                        <div>
                                            <div user-picture="task.assignee"></div>
                                            {{task.name && task.name || ('TASK.MESSAGE.NO-NAME' | translate)}}
                                        </div>
                                        <div class="subtle">
                                            <span ng-if="task.assignee.id">
                                                {{'TASK.MESSAGE.COMPLETED-BY' | translate}} {{task.assignee.firstName && task.assignee.firstName != 'null' ? task.assignee.firstName : ''}} {{task.assignee.lastName && task.assignee.lastName != 'null' ? task.assignee.lastName : ''}}
                                                {{task.endDate | dateformat:'fromNow'}}
                                            </span>
                                            <span ng-if="!task.assignee.id" translate="TASK.MESSAGE.NO-ASSIGNEE">
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="nothing-to-see" ng-show="model.completedProcessTasks.length == 0">
                                <span translate="PROCESS.MESSAGE.NO-COMPLETED-TASKS"></span>
                            </div>

                        </div>
                    </div>

                </div>

</div>
